.clerksy_sign_up{
    background-color: $whiteBgcolor;
    .clerksy_sign_up__itme{
        display: flex;
        justify-content: space-between;
        .clerksy_sign_up__text__title{
            padding: 54px 0 26px;
            color: $darkColor;
            @include title;
        }
        .clerksy_sign_up__text__subtitle{
            padding-bottom: 79px;
            @include subtitle;
            color: $darkColor;
        }

    }
        .clerksy_sign_up__input{
            form{
                padding: 54px 0 26px;
                position: relative;
                input{
                    width: 553px;
                    padding: 15px 5px 17px;
                    border: none;
                    border-radius: 255px;
                    outline: none;
                }
                button{
                    position: absolute;
                    right: -20px;
                    padding: 15px 37px 15px;
                    border: none;
                }
            }
            .clerksy_sign_up__input__subtitle{
                width: 520px;
                font-family: $ff;
                font-style: $fstyle;
                font-weight: $fw;
                font-size: 14px;
                line-height: 21px;
                color: $darkColor;
                a{
                    text-decoration: none;
                    color: $darkColor;
                    padding: 0 0 0 10px;
                }
            }

        }

}