.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__title{
        font-family: $f_F;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $darkColor;
        padding: 44px 0;
    }
    i{
        color: #198C36;
        padding-right: 10px;
        &:hover{
            color: #1fbb46;
        }
    }
}
hr{
    width: 80%;
    margin: 0 auto;
}