.header{
    background-color: $bgcolor;
    .header_main{
        padding: 21px 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        nav ul{
            display: flex;
            list-style-type: none;
            li{
                padding-left: 24px;
                a{
                    text-decoration: none;
                    color: $whiteColor;
                    font-family: $subtitleFont;
                    font-style: $subtitleStyle;
                    font-weight: $subtitleWeight;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}