.hr_product{
    background-color: #163A24;
    margin: 127px 0 0 0;
    .hr_product__title{
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        color: #FBFAF7;
        padding: 66px 0;
    }
        ul{
            display: flex;
            justify-content:space-between;
            li{
                text-align: center;
                list-style-type: none;
                p{
                    width: 200px;
                    padding: 23px 0 181px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                    text-align: center;
                    color: #FBFAF7;
                }
            }
        }

}