.hr_product{
    background-color: $bgcolor;
    margin: 127px 0 0 0;
    .hr_product__title{
        @include title;
        color: $whiteColor;
        text-align: center;
        padding: 66px 0;
    }
        ul{
            display: flex;
            justify-content:space-between;
            li{
                text-align: center;
                list-style-type: none;
                p{
                    width: 200px;
                    padding: 23px 0 181px;
                    text-align: center;
                    @include subtitle;
                    color: $whiteColor;
                }
            }
        }
}