.hr_specialist__human{
    display: flex;
    align-items: center;
    .hr_specialist__human__text__title{
        width: 480px;
        padding: 50px 0 0 100px;
        color: $darkColor;
        @include title;
    }
    .hr_specialist__human__text__subtitle{
        width: 470px;
        padding: 27px 0 0 100px;
        color: $darkColor;
        @include subtitle;
    }
}
.before1::before{
    display: block;
    content: "";
    width: 490px;
    height: 488px;
    margin-top: 120px;
    margin-left: 80px;
    background-image: url(../img/hrHuman.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.before2::after{
    display: block;
    content: "";
    width: 490px;
    height: 488px;
    margin-left: 100px;
    background-image: url(../img/humanHr.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.hr_specialist_title{  
    @include title;
    color: $darkColor;
    text-align: center;
    padding: 100px 0 60px;
}
.hr_specialist__partner__brend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}