.hr_resource{
    margin: 130px;
    display: flex;
    align-items: center;
    .hr_resource__title{
        width: 400px;  
        margin-left: 98px;
        @include title;
        color: $darkColor;
    }
    .hr_resource__subtitle{
        padding: 20px 0 30px 98px;
        @include subtitle;
        color: $darkColor;
    }
    a{
        margin-left: 160px;
    }
    &:after{
        display: block;
        content: "";
        width: 440px;
        height: 446px;
        margin-left: 100px;
        background-image: url(../img/img.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}