.last_footer{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    .last_footer__subtitle{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #163A24;
        padding-left: 10px;
    }
    ul{
        display: flex;
        list-style-type: none;
        li a{
            text-decoration: none;
            padding-right: 15px;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #198C36;
            &:hover{
                color:#63df82;
            }
            span{
                text-transform: uppercase;
            }
        }
    }
}