.main{
    height: 544px;
    background-color: $bgcolor;
    background-image: url(../img/bagroundImg.png);
    background-repeat: no-repeat;
    background-position-x: 550px;
    .main_text__title{
        width: 400px;
        padding-top: 120px;
        color: $whiteColor;
        @include title;
        
    }
    .main_text__subtitle{
        width: 450px;
        padding-top: 18px;
        color: $whiteColor;
        @include subtitle;
    }
}