.order_part{
    height: 415px;
    background-color: $bgcolor;
    background-image: url(../img/order_part_background.png), url(../img/order_part_background2.png);
    background-repeat: no-repeat;
    background-position:top 10px left, right;
    background-size: contain;
    .order_part__title{
        text-align: center;
        padding: 114px 0 26px;
        @include title;
        color: $whiteColor;
    }
    .order_part__subtitle{
        text-align: center;
        padding-bottom: 30px;
        @include subtitle;
        color: $whiteColor;
    }
    .order_part__link{
        display: flex;
        justify-content: center;
        a{
            @include link;
            &:hover{
                color: $whiteColor;
            }
        }
    }   
}