* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .btn {
    background-color: #198C36;
    padding: 15px 25px;
    border-radius: 160px;
    text-decoration: none;
    color: #FBFAF7;
    font-family: 'Noto Sans';
    &:hover {
        background-color: #22b647;
    }
}
  
  