* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .btn {
    background-color: #198C36;
    padding: 15px 25px;
    border-radius: 160px;
    text-decoration: none;
    color: #FBFAF7;
    font-family: 'Noto Sans';
    &:hover {
        background-color: #22b647;
    }
}

$bgcolor: #163A24;
$whiteBgcolor: #F2EFE6;
$darkColor: #163A24;
$whiteColor: #FBFAF7;
$ff: 'Noto Sans';
$f_F: 'Recoleta';
$fstyle: normal;
$fw: normal;


@mixin title{
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
}
@mixin subtitle {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
  
@mixin link {
  text-decoration: none;
  background: #FAB5A0;
  border-radius: 160px;
  padding: 15px 25px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}